.homePage-container {
    background-color: #121e28;
    padding: 20px 5rem;
    display: flex;
    justify-content: space-between;
    color: #dfdfdf;
    position: relative;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
    margin-top: 10rem;

    @media (max-width: 1024px) {
        padding: 0px 4rem;
        height: 320px;
    }

    @media (max-width: 768px) {
        display: revert;
        margin-top: 8rem;
        padding: 0 1rem;
        margin-bottom: 10rem;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5rem;
    margin-top: 100;

    h1 {
        font-size: 5.5rem;
        padding: 2rem 1.4rem;
        font-weight: 800;
    }

    h2 {
        font-size: 4.4rem;
        margin: 2rem;
        font-weight: 600;
    }

    h3 {
        font-size: 4.6rem;
        margin: 0 4rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

    @media (max-width: 2250px) {
        h1 {
            font-size: 4.5rem;
            padding: 2rem 1.4rem;
            font-weight: 800;
        }
    }

    @media (max-width: 1990px) {
        padding: 20px 1rem;


        h1 {
            font-size: 4rem;
            padding: 2rem 1.4rem;
            font-weight: 800;
        }

        h2 {
            font-size: 4rem;
            margin: 2rem;
        }

        h3 {
            font-size: 3.6rem;
            margin: 0 4rem;
        }
    }

    @media (max-width: 1750px) {
        padding: 20px 0rem;

        h1 {
            font-size: 2rem;
            padding: 2rem 1.4rem;
            font-weight: 800;
        }

        h2 {
            font-size: 2.5rem;
            margin: 2rem;
        }

        h3 {
            font-size: 2.6rem;
            margin: 0 4rem;
        }
    }

    @media (max-width: 1024px) {
        padding: 20px 0rem;

        h1 {
            font-size: 1.5rem;
            padding: 2rem 1.4rem;
            font-weight: 800;
        }

        h2 {
            font-size: 2rem;
            margin: 2rem;
        }

        h3 {
            font-size: 2.1rem;
            margin: 0 4rem;
        }
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -6rem;

        h1 {
            font-size: 1rem;
            padding: 1rem 0rem;
            font-weight: 500;
        }

        h2 {
            font-size: 2rem;
            margin: 1rem;
        }

        h3 {
            font-size: 2.1rem;
            margin: 0 0rem;
        }
    }
}

.typewriter-container {
    height: 10.1em;
    overflow: hidden;
    white-space: nowrap;
}

.photo-section {
    position: relative;
    width: 600px;
    height: 600px;

    .photo-bg {
        left: -100px;
    }

    @media (max-width: 1990px) {
        width: 600px;
        height: 500px;

        .photo-self {
            width: 500px;
            height: 520px;
        }

        .photo-bg {
            width: 700px;
            height: 600px;
        }
    }

    @media (max-width: 1750px) {
        width: 40%;
        height: 0px;

        .photo-self {
            width: 400px;
            height: 420px;
        }

        .photo-bg {
            width: 500px;
            height: 400px;
            left: -37px;
        }
    }

    @media (max-width: 1024px) {
        width: 300px;
        height: 100px;

        .photo-self {
            width: 300px;
            height: 320px;
        }

        .photo-bg {
            width: 400px;
            height: 300px;
            left: -37px;
        }
    }

    @media (max-width: 768px) {
        //position: revert;
        margin: 0px 25% 0px auto;

        .photo-self {
            width: 80%;
            height: auto;
            z-index: 2;
        }

        .photo-bg {
            left: -50px;
            width: 100%;
            height: auto;
            z-index: 1;
            opacity: 0.5;
        }
    }

    @media (max-width: 500px) {
        //position: revert;
        margin: 0px 1px 0px auto;

        .photo-self {
            width: 80%;
            height: auto;
            //position: absolute;
            z-index: 2;
        }

        .photo-bg {
            //position: absolute;
            top: 0;
            left: -30px;
            width: 100%;
            height: auto;
            z-index: 1;
            opacity: 0.5;
        }
    }
}

.photo-section img {
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    align-items: center;
    /* Vertically align navigation links */

    /* Mobile: Show the nav as a full-screen menu when open */
    @media (max-width: 768px) {
        position: fixed;
        /* Fix the nav in place on small screens */
        top: 0;
        right: -100%;
        /* Initially hide the nav by moving it offscreen */
        width: 100%;
        /* Full width for the mobile menu */
        height: 100%;
        /* Full height for the mobile menu */
        background-color: #1e1e1e;
        /* Same dark background */
        flex-direction: column;
        /* Stack the nav items vertically */
        justify-content: center;
        /* Center nav items vertically */
        transition: right 0.3s ease-in-out;
        /* Smooth slide-in effect */
        z-index: 999;
        /* Layer it above other content */
    }

    &.open {
        right: 0;
        /* Slide the nav into view when it's open */
    }
}

.hamburger {
    display: none;
    /* Hide the hamburger menu by default */
    cursor: pointer;
    /* Pointer cursor to indicate it's clickable */

    /* Mobile: Show the hamburger menu icon */
    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 20px;
        /* Position the hamburger at the top */
        right: 20px;
        /* Align the hamburger to the right */
        z-index: 1001;
        /* Layer the hamburger above the nav */
    }
}

.button {
    display: flex;
    align-items: center;
    /* Vertically align button content */
    margin-left: 40px;
    /* Space between the button and nav links */
    padding: 8px 16px;
    /* Padding inside the button */
    border: 2px solid #9b59b6;
    /* Purple border around the button */
    color: #9b59b6;
    /* Purple text */
    text-decoration: none;
    /* Remove underline from the button text */
    font-size: 18px;
    /* Set the button text size */
    transition: all 0.3s;
    /* Smooth transition for background and text color */
    border-radius: 5px;
    /* Rounded button corners */

    &:hover {
        background-color: #9b59b6;
        /* Purple background on hover */
        color: #fff;
        /* White text on hover */
    }

    svg {
        margin-right: 8px;
        /* Space between the icon and text */
    }

    /* Mobile: Adjust button spacing and size */
    @media (max-width: 768px) {
        margin-left: 0;
        margin-bottom: 20px;
        /* Add space between the button and other elements */
        font-size: 24px;
        /* Increase button font size on mobile */
    }
}

.close-icon {
    display: block;
    /* Show the close icon by default */
    z-index: 1002;
    /* Ensure the close icon is above the nav */
}

.red-text {
    color: #e46262;
}