.about-intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 40px;
  background-color: #121e28;
  color: #dfdfdf;
  padding: 3rem 6rem;

  /* Vertically center the photo with text and header on desktop */
  @media (min-width: 769px) {
    align-items: center;
  }

  /* Stack content and center text and photo on mobile */
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    flex: 1;
    text-align: left;
    margin: 0 2rem;
    padding: 1rem 5rem;
    background-color: #1f2c37;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;

    /* Center text on mobile */
    @media (max-width: 768px) {
      text-align: center;
      padding-right: 0;
    }

    h2 {
      font-size: 5em;
    }

    p {
      font-size: 1.6em;
      margin-bottom: 20px;
    }

    a {
      color: #9b30ff;
      /* Purple color for links */
      text-decoration: underline;
      /* Always underline links */

      &:visited {
        color: #9b30ff;
        /* Maintain purple for visited links */
      }

      &:hover {
        color: #8a2be2;
        /* Slightly darker purple on hover */
      }
    }

  }

  .about-photo {
    flex: 0 0 30%;
    //padding-left: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      opacity: 0.8;
    }

    /* Ensure the photo is centered horizontally and vertically on mobile */
    @media (max-width: 768px) {
      width: 70%;
      padding-left: 0;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
    }
  }


}