.game-card-container {
  padding: 3rem;
  text-align: center;
  background-color: #1f2c37;
  color: white;
  border-radius: 10px;
  height: 800;
  width: 500px;
  font-family: 'Montserrat', sans-serif;

  .build-name {
    font-size: 2.5rem;
  }

  // Container for thumbnail + overlay
  .thumbnail-wrapper {
    margin-left: 70px;
    position: relative;
    //overflow: hidden;
  }

  // The actual thumbnail image
  .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //display: block;
  }

  // The dark overlay
  .thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); // Dark overlay
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }

  // Play button
  .play-button {
    background: #e46262;
    color: #d3d3d3;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Jersey25", sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }

  .play-button:hover {
    transform: scale(1.05);
  }

  .game-iframe {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
  }

  .features-container {
    margin-top: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;

    .feature-items {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 6px;
      justify-content: center;

      .feature-item {
        background: rgba(205, 48, 48, 0.8);
        color: #fff;
        padding: 2px 6px;
        border-radius: 6px;
        font-size: 0.75em;
        border: 1px solid rgba(100, 89, 182, 0.3);
      }
    }
  }
}

.playable-game-container {
  .lable-div {
    //background-color: #cb4141;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-bottom: 7rem;
  }

  .lable {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: #d3d3d3;
    text-align: center;
  }

  .build-section {
    justify-content: center;
    gap: 6rem;
    display: flex;
    //background-color: #1f2c37;
    border-radius: 40px;
    padding: 4rem;
  }
}