.greeting-container {
    background-color: #121e28;
    padding: 6rem;
    display: flex;

    .greeting-div {
        background-color: #cb4141;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: 20px;
    }

    .greeting {
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        color: #d3d3d3;
        text-align: center;

    }


    @media (max-width: 1024px) {
        .greeting {
            font-size: 2rem;
        }
    }

    @media (max-width: 770px) {
        padding: 7rem;

        .greeting {
            font-size: 1.5rem;
        }
        
    }
}